/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --title-text-color: #DB00FF;
  --main-text-color: #F1B2CE;
  --bg-color: #000028;
  --subtitle-text-color: #000028;
  --secondary-color: #FF0070;
  --third-color: #FF0070;
  --secondary-color-state: rgba(255, 0, 112, 0.4);
  --page-background-image: url("../images/cover-image-dark.png");
  --decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-text-color: #DB00FF;
    --main-text-color: #F1B2CE;
    --bg-color: #000028;
    --subtitle-text-color: #000028;
    --secondary-color: #FF0070;
    --third-color: #FF0070;
    --secondary-color-state: rgba(255, 0, 112, 0.4);
    --page-background-image: url("../images/cover-image-dark.png");
    --decor-visibility: visible;
  }
}