/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --page-background-image: url("../images/cover-image-light.png");    
    --title-text-color: #ffc2e6;
    --main-text-color: #353430;
    --bg-color: #FFC2E6;
    --subtitle-text-color: #353430;
    --secondary-color: #FF8DCB;
    --third-color: #353430;
    --secondary-color-state: rgba(50, 49, 45, 0.4);
    --decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background-image: url("../images/cover-image-light.png");    
    --title-text-color: #ffc2e6;
    --main-text-color: #353430;
    --bg-color: #FFC2E6;
    --subtitle-text-color: #353430;
    --secondary-color: #FF8DCB;
    --third-color: #353430;
    --secondary-color-state: rgba(50, 49, 45, 0.4);
    --decor-visibility: hidden;  
  }
}
