/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--main-text-color, #F1B2CE);
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-text-size);
  line-height: 23.4px;
  background-color: var(--bg-color, #000028);
  background-image: var(
    --page-background-image,
    url("../images/cover-image.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-within {
  outline: none;
  outline: 1px solid currentColor;
}

.title-shadow {
  text-shadow: 4px 4px 0 var(--secondary-color);
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--secondary-color);
}

.cover {
  display: grid;
  padding: clamp(10px, 2.545vw + 0.029rem, 20px);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: clamp(10px, 2.545vw + 0.029rem, 20px);
  right: clamp(10px, 2.545vw + 0.029rem, 20px);
  border-top: 1px solid var(--third-color);
  border-right: 1px solid var(--third-color);
}

.decorated-zone::after {
  bottom: clamp(10px, 2.545vw + 0.029rem, 20px);
  left: clamp(10px, 2.545vw + 0.029rem, 20px);
  border-bottom: 1px solid var(--third-color);
  border-left: 1px solid var(--third-color);
}

.decorative-dark {
  position: absolute;
  visibility: var(--decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.decorative-dark::before {
  content: 'REC';
  color: var(--secondary-color);
  font-size: var(--main-text-size);
  line-height: 139%;
}

.decorative-dark::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--secondary-color);
  background-color: var(--secondary-color);
}

.header {
  align-items: start;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  align-items: center;
  border: none;
  padding: 1.5px 13px;
  color: var(--third-color);
  font-weight: 400;
  font-size: var(--main-text-size);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--secondary-color-state);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--third-color);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--third-color);
  pointer-events: none;
}

.page__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.content-title {
  color: var(--third-color);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 130%;
}

.content-title__header {
  margin-block: 55px;
}

.title-decor {
  color: var(--subtitle-text-color);
  background-color: var(--secondary-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section-what {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-what__article-list,
.section-what__article {
  display: contents;
}

.section-what__article-item {
  grid-row-start: auto;
  grid-column: span 3;
}

.section-what__title {
  grid-column: span 3;
  grid-row-start: 1;
}

.article {
  display: grid;
}

.article-list {
  display: grid;
  gap: 20px;
}

.item-list {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

.title-list {
  font-weight: 400;
}

.section-why__title {
  margin-block-end: 20px;
}

.section-gallery {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  place-items: center;
}

@media (width >= 768px) {
  .decorative-dark {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }

  .section-what__title {
    grid-column: auto;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: 236px 1fr;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .content-title__header {
    inline-size: 364px;
    justify-self: end;
  }

  .header {
    padding-inline-start: 0;
  }

  .article-list__section-what {
    grid-column-start: span 2;
  }

  .article-list {
    grid-column-start: 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-title__header {
    inline-size: 491px;
    justify-self: end;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section-gallery {
    grid-template-columns: 1fr;
  }

  .section-what {
    grid-template-rows: repeat(2, auto);
  }

  .section-what__article-item {
    grid-row-start: 2;
    grid-column: auto;
  }
}

